<header>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">Lugares turísticos de México</a>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active"><a href="#" class="nav-link">Inicio</a></li>
                <li class="nav-item">
                    <a href="#" class="nav-link">México</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Destinos</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Gastronomía</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Guías</a>
                </li>
            </ul>
            <div class="col-sm-3 col-md-3">
                <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control mr-sm-2" placeholder="Búsqueda..." aria-label="Search">                   
                    <button class="btn btn-success my-2 my-sm-0" type="button">Buscar</button>                    
                </div>
                </form>
            </div>         
        </div>
    </nav>
</header>