<div class="m-2">
<div class="text-center pb-3">
   <p id="mainText">MÉXICO, uno de los 10 Países más visitados del mundo, te ofrece todo para disfrutar tus mejores vacaciones: Cálidas Playas bañadas de sol durante todo el año, Imponentes Zonas Arqueológicas, Bosques, Selvas y Desiertos con actividades de Ecoturismo, Naturaleza y Aventura. Pintorescos Pueblos Mágicos, Ciudades Coloniales y Vibrantes Ciudades repletas de Museos, Historia y Gastronomía.</p>
</div>
<div class="row pb-4">
   <div class="col-md-4">
      <div class="card">
         <img class="card-img-top" src="assets/images/cdmx.jpg" alt="imagen">
         <div class="card-body">
            <h5 class="card-title border-bottom pb-3">Ciudad de México</h5>
            <p class="card-text">Como buena capital, tiene de todo: museos, cultura, vida nocturna, arquitectura, diversión y variedad gastronómica.</p>
            <a href="https://visitmexico.com/cdmx" target="_blank" class="btn btn-sm btn-danger">Ver más...</a>
         </div>
      </div>
   </div>
    <div class="col-md-4">
        <div class="card">
           <img class="card-img-top" src="assets/images/chichen-itza.jpg" alt="imagen">
           <div class="card-body">
              <h5 class="card-title border-bottom pb-3">Chichén Itzá, Yucatán</h5>
              <p class="card-text">Cancún, más que una playa, es de los mejores destinos turísticos de México y el preferido de los visitantes internacionales que vienen al país.</p>
              <a href="https://www.turismomexico.es/yucatan/chichen-itza/" target="_blank" class="btn btn-sm btn-danger">Ver más...</a>
           </div>
        </div>
     </div>
     <div class="col-md-4">
      <div class="card">
         <img class="card-img-top" src="assets/images/riviera-maya.jpg" alt="imagen">
         <div class="card-body">
            <h5 class="card-title border-bottom pb-3">Riviera Maya, Quintana Roo</h5>
            <p class="card-text">Es un destino donde hay algo para todos los gustos. Puedes hospedarte en uno de sus hoteles todo incluido o reservar un alojamiento en Tulum.</p>
            <a href="https://www.caribemexicano.travel/riviera-maya/" target="_blank" class="btn btn-sm btn-danger">Ver más...</a>
         </div>
      </div>
   </div>
 </div>
 <div class="row pb-4">
   <div class="col-md-4">
      <div class="card">
         <img class="card-img-top" src="assets/images/puebla.jpg" alt="imagen">
         <div class="card-body">
            <h5 class="card-title border-bottom pb-3">Puebla</h5>
            <p class="card-text">Es una de las ciudades mexicanas más completas en cuestiones turísticas con su impresionante arquitectura colonial.</p>
            <a href="https://www.visitpuebla.mx/es/" target="_blank" class="btn btn-sm btn-danger">Ver más...</a>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="card">
         <img class="card-img-top" src="assets/images/cancun.jpg" alt="imagen">
         <div class="card-body">
            <h5 class="card-title border-bottom pb-3">Cancún, Quintana Roo</h5>
            <p class="card-text">Cancún, más que una playa, es de los mejores destinos turísticos de México y el preferido de los visitantes internacionales que vienen al país.</p>
            <a href="https://www.caribemexicano.travel/cancun/" target="_blank" class="btn btn-sm btn-danger">Ver más...</a>
         </div>
      </div>
   </div>
     <div class="col-md-4">
      <div class="card">
         <img class="card-img-top" src="assets/images/Queretaro.jpg" alt="imagen">
         <div class="card-body">
            <h5 class="card-title border-bottom pb-3">Querétaro</h5>
            <p class="card-text">Es una de las ciudades más bonitas y modernas de México. Más allá de su belleza, ha sido testigo de importantes acontecimientos históricos.</p>
            <a href="https://queretaro.travel/" target="_blank" class="btn btn-sm btn-danger">Ver más...</a>
         </div>
      </div>
   </div>
 </div>
 <div class="row pb-4">
   <div class="col-md-4">
      <div class="card">
         <img class="card-img-top" src="assets/images/acapulco.jpg" alt="imagen">
         <div class="card-body">
            <h5 class="card-title border-bottom pb-3">Acapulco</h5>
            <p class="card-text">Si los mexicanos tuvieran qué elegir su playa más tradicional, esta sería Acapulco. Su costera, sus calles y sus atractivos son emblemáticos.</p>
            <a href="https://www.mexicodestinos.com/acapulco/informacion" target="_blank" class="btn btn-sm btn-danger">Ver más...</a>
         </div>
      </div>
   </div>
    <div class="col-md-4">
        <div class="card">
           <img class="card-img-top" src="assets/images/jalisco.jpg" alt="imagen">
           <div class="card-body">
              <h5 class="card-title border-bottom pb-3">Jalisco</h5>
              <p class="card-text">Es un estado del oeste de México que bordea el océano Pacífico. El estado es conocido por la música mariachi y el tequila.</p>
              <a href="https://secturjal.jalisco.gob.mx/" target="_blank" class="btn btn-sm btn-danger">Ver más...</a>
           </div>
        </div>
     </div>
     <div class="col-md-4">
      <div class="card">
         <img class="card-img-top" src="assets/images/Chiapas.jpg" alt="imagen">
         <div class="card-body">
            <h5 class="card-title border-bottom pb-3">Chiapas</h5>
            <p class="card-text">Es un lugar que tienes que ver con tus propios ojos para dimensionar lo bonito que es. Cuenta con sitios arqueológicos impresionantes.</p>
            <a href="https://visitchiapas.com/" target="_blank" class="btn btn-sm btn-danger">Ver más...</a>
         </div>
      </div>
   </div>
 </div>
</div>